<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add book</title>

</head>
<body>
<h1>Add book details</h1>
<form th:action="@{/books}" method="post" th:object="${addedBook}">
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}"/>
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
            </td>
        </tr>
        <tr>
            <td>ISBN</td>
            <td><input type="text" th:field="*{isbn}"/>
                <span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"/>
            </td>
        </tr>
        <tr>
            <td>Author's name</td>
            <td><input type="text" th:field="*{author.name}"/>
            </td>
        </tr>
        <tr>
            <td>Author's last name</td>
            <td><input type="text" th:field="*{author.lastName}"/>
            </td>
        </tr>
        <tr>
            <td>Publishing house</td>
            <td><input type="text" th:field="*{publishing}"/>
            </td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit"/></td>
        </tr>
    </table>
</form>

</body>
</html>