<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
    <style>
        .fieldError{
            border-color: #ff0000;
        }
    </style>
</head>
<body>
<h1>Add Customer</h1>
<form action="#" th:action="@{/customers}" th:object="${registeredCustomer}" method="post" >
    <table>
        <tr>
            <td>First Name</td>
            <td>
                <input type="text" th:field="*{name}" th:errorclass="fieldError"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                <input type="text" th:field="*{lastName}" th:errorclass="fieldError"/>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>
            </td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>
                <input type="date" th:field="*{birthDate}" th:errorclass="fieldError"/>
                <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"/>
            </td>
        </tr>
        <tr>
            <td>City</td>
            <td>
                <input type="text" th:field="*{city}" th:errorclass="fieldError"/>
                <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"/>
            </td>
        </tr>
        <tr>
            <td>Street</td>
            <td>
                <input type="text" th:field="*{street}" th:errorclass="fieldError"/>
                <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}"/>
            </td>
        </tr>
        <tr>
            <td>Zip Code</td>
            <td>
                <input type="text" th:field="*{zipCode}" th:errorclass="fieldError"/>
                <span th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"/>
            </td>
        </tr>
        <tr>
            <td>Pesel</td>
            <td>
                <input type="text" th:field="*{pesel}" th:errorclass="fieldError"/>
                <span th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}"/>
            </td>
        </tr>
        <tr>
            <td>Sex</td>
            <td>
                <input type="text" list="sexes" th:field="*{sex}" th:errorclass="fieldError"/>
                <datalist id="sexes">
                    <option>F</option>
                    <option>M</option>
                </datalist>
                <span th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"/>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="text" th:field="*{password}" th:errorclass="fieldError"/>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
            </td>
        </tr>
        <tr><td colspan="2"><input type="submit"/></td></tr>
    </table>
</form>
</body>
</html>