<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<h1>Customers</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Birth Date</th>
        <th>City</th>
        <th>Street</th>
        <th>Zip Code</th>
        <th>Pesel</th>
        <th>Sex</th>
        <th>Added</th>
        <th>Modified</th>
    </tr>
    <tr th:each="customer : ${customersList}" th:object="${customer}">
        <td th:text="*{id}"/>
        <td th:text="*{name}"/>
        <td th:text="*{lastName}"/>
        <td th:text="*{birthDate}"/>
        <td th:text="*{city}"/>
        <td th:text="*{street}"/>
        <td th:text="*{zipCode}"/>
        <td th:text="*{pesel}"/>
        <td th:text="*{sex}"/>
        <td th:text="*{added}"/>
        <td th:text="*{modified}"/>

    </tr>
    <!--<td><a th:href="@{/customers/add}"-->
           <!--th:text="Add new customer"/></td>-->
</table>

</body>
</html>