<!DOCTYPE HTML>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit book</title>
</head>
<body>
<h1>Edit book details</h1>
<form th:action="@{/books/edit/{id}}" method="post" th:object="${editBook}">
    <input type="hidden" th:field="*{id}" th:attr="name='bookId'">
    <table>
        <tr>
            <td>Title:</td>
            <td th:text="${editBook.title}"/>
            <td><input type="text" th:field="*{title}"/>
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
            </td>
        </tr>
        <tr>
            <td>ISBN:</td>
            <td th:text="${editBook.isbn}"/>
            <td><input type="text" th:field="*{isbn}"/>
                <span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"/>
            </td>
        </tr>
        <tr>
            <td>Publishing house:</td>
            <td th:text="${editBook.publishing}"/>
            <td><input type="text" th:field="*{publishing}"/>
            </td>
        </tr>
        <tr>
            <td>Author's name:</td>
            <td th:text="${editBook.author.name}"/>
            <td><input type="text" th:field="*{author.name}"/>
            </td>
        </tr>
        <tr>
            <td>Author's last name:</td>
            <td th:text="${editBook.author.lastName}"/>
            <td><input type="text" th:field="*{author.lastName}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Confirm edition"/></td>
        </tr>
    </table>

</form>
</body>
</html>