<!DOCTYPE HTML>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit worker</title>
</head>
<body>
<h1>Change worker password</h1>
<form th:action="@{/workers/edit}" method="post" th:object="${editedWorker}">
    <input type="hidden" th:field="*{id}" th:attr="name='workerId'">
    <table>
        <tr>
            <td>Old password:</td>
            <td th:text="${editedWorker.password}"/>
        </tr>
        <tr>
            <td>New password</td>
            <td><input type="text" th:field="*{password}"/>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Confirm edition"/></td>
        </tr>
    </table>
</form>
</body>
</html>