<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>Library start page</title></head>
<body>

<div align="center">
    <form action="/logout" style="float: right">
        <input type="submit" value="Log out">
    </form>

    <form action="/search" style="float: right">
        <input type="submit" value="Log in">
    </form>

    <form action="/search/notByIsbn" method="get">
        Title:
        <input type="text" name="title"><br>
        Author's name and last name:
        <input type="text" name="name">
        <input type="text" name="lastName"><br>
        Publisher:
        <input type="text" name="publisher"><br>
        <input type="submit" value="Szukaj">
    </form>

    <form action="/search/byIsbn" method="get">
        Find by ISBN:
        <input type="text" name="isbn"><br>
        <input type="submit" value="Szukaj">
    </form>
</div>
</body>
</html>