<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Volumes</title>
</head>
<body>
<div align="center">
    <form action="/logout" style="float: right">
        <input type="submit" value="Log out">
    </form><br/>
    <h1>Volumes</h1>
    <div th:if="${not #lists.isEmpty(volumesList)}">
        <table border="1">
            <tr>
                <th>Book</th>
                <th>Hard Cover</th>
                <th>Rented</th>
                <th>Added</th>
                <th>Modified</th>
                <th>Reserved</th>
                <th>Reservation</th>
                <th>Confirm rent</th>
                <th>Delete</th>
            </tr>
            <tr th:each="volume : ${volumesList}" th:object="${volume}">
                <td th:text="*{release.book.title}"/>
                <td th:text="*{hardCover}"/>
                <td th:text="*{rented}"/>
                <td th:text="*{added}"/>
                <td th:text="*{modified}"/>
                <td th:text="*{reserved}"/>
                <td><a th:href="@{reserve/{volumeId}(volumeId=*{id})}"
                       th:text="Reserve"/></td>
                <td><a th:href="@{rent/{volumeId}(volumeId=*{id})}"
                       th:text="Rent"/></td>
                <td><a th:href="@{delete/{volumeId}(volumeId=*{id})}"
                       th:text="Delete"/></td>
            </tr>
        </table>
    </div>
    <br/>
    <div th:if="${#lists.isEmpty(volumesList)}">
        The are no volumes for this release.
    </div>
    <button type="button" onclick="javascript:history.back()">Return to previous page</button>
    <br/>

    <!--<form action="/workers/add">-->
    <!--<input type="submit" value="Add new worker">-->
    <!--</form>-->
    <!--<br/>-->
    <!--<form action="/search/go">-->
    <!--<input type="submit" value="Return to search">-->
    <!--</form>-->
</div>
</body>
</html>