<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workers</title>
</head>
<body>
<h1>Workers</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Login</th>
        <th>Added</th>
        <th>Modified</th>
    </tr>
    <tr th:each="worker : ${workersList}" th:object="${worker}">
        <td th:text="*{id}"/>
        <td th:text="*{login}"/>
        <td th:text="*{added}"/>
        <td th:text="*{modified}"/>
    </tr>
</table>
</body>
</html>