<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workers</title>
</head>
<body>
<h1>Workers</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Login</th>
        <th>Added</th>
        <th>Modified</th>
    </tr>
    <tr th:each="worker : ${workersList}" th:object="${worker}">
        <td th:text="*{id}"/>
        <td th:text="*{login}"/>
        <td th:text="*{added}"/>
        <td th:text="*{modified}"/>
        <td><a th:href="@{/workers/edit/{workerId}(workerId=*{id})}"
               th:text="Edit"/></td>
        <td><a th:href="@{/workers/delete/{workerId}(workerId=*{id})}"
               th:text="Delete"/></td>
    </tr>
</table>

<form action="/workers/add">
    <input type="submit" value="Add new worker">
</form>
<form action="/search/go">
    <input type="submit" value="Return to search">
</form>
</body>
</html>